.el-input__inner{
    background-color: #eff0f2 !important;
    border-radius: 3px !important;
    outline: 0 !important;
    border: 0 !important;
}
input,input:focus,input:hover{
    outline: 0;
    border: 0;
}


